

@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
  @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Login</th>
            </tr>
            <tr>
                <td>Password: </td>
                <td>
                    @Html.TextBox("Name")
                </td>
            </tr>
            <tr>
                <td>Name: </td>
                <td>
                    @Html.TextBox("Password")
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    }
</div>